body {
    background-color: aquamarine;
    background-attachment: fixed;
}

footer {
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0%;
    position: static;
}